<div class="container">
   <div class="row">
      <div class="mb-4 p-5 bg-light rounded-3 text-center">
         <img src="assets/school.jpg" />
         <div class="display-5 fw-bold mt-4">Welcome to Talat School</div>
         <div class="p-2">
            Lorem ipsum dolor sit amet consectetur adipisicing elit.
            Id minus sint exercitationem, totam inventore,
            quaerat temporibus tenetur dolores quis fugiat facilis
            recusandae suscipit nostrum accusamus sit earum, at debitis eaque.
         </div>
      </div>
   </div>
</div>